*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*---------------------------------------------------*/

.navbar-SS{
    width: 12rem;
    height: 43.5em;
    background-color: rgb(57, 57, 77);
    color: white;
    border-radius: 0px 10px 10px 0px;
}

.navbar-SS a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 24px;
    top: 2rem;
    left: 2rem;
    bottom: 2rem;
}

.navbar-SS .close{
    position: absolute;
    top: 40rem;
    font-size: 20px;
}

.navbar-SS a:hover{
    color: white;
    text-decoration: none;
}

.navbar-SS ol{
    list-style: none;
    margin: 6rem 2rem 2rem 2rem;
}

.navbar-SS ol li{
    margin-top: 5rem;
}

.navbar-SS ol li p{
    cursor: pointer;
}

/*-------------------Formulario de Facturas----------------------------------*/
.contenedor{
    position: absolute;
    top: 2rem;
    left: 15rem;
    width: 750px;
    height: 290px;
    background-color: #353A40;
    border-radius: 7px;
    display: none;
}

.contenedor form{
    margin: 1rem;
}

.contenedor form h2{
    margin-left: 19rem;
    margin-bottom: 1.5rem;
    color: white;
}


.contenedor form h3{
    margin-top: 1.5rem;
    margin-left: 16rem;
    margin-bottom: 1.5rem;
    color: white;
}

.contenedor form label{
    color: white;
}

.contenedor form input{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    text-align: center;
}

.contenedor form button{
    margin-left: 2.5rem;
    border: 2px solid white;
    background-color: transparent;
}

.contenedor form button:hover{
    background-color: #353A40;
}

/*-------------------Formulario Notificación---------------------------------*/
.notify{
    position: absolute;
    top: 7rem;
    left: 20rem;
    width: 500px;
    border-radius: 20px;
    background-color:  #353A40;
    color: black;
    display: none;
}

.notify form{
    margin: 30px;
    width: 450px;
}

.notify form label{
    color: white;
}

/*------------------------Tabla Cola Facturas---------------------------*/
.cola-fac{
    position: absolute;
    right: 5rem;
    top: 2rem;
    width: 10rem;
}