/** diseño del navbar principal**/

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.navbar{
    position: absolute;
    background-color:#2E313E;
    height: 43.5rem;
    left: 0px;
    top: 0px;
    width: 10%;
    color: cornsilk;
    padding: 20px;

}

.navbar button{
    width: 6rem;
    height: 3rem;
    background-color: transparent;
    color: white;
    border-color:white;
    border-radius: 10px;
    margin-bottom: 40px;
}

.navbar button:hover{
    cursor: pointer;
}

.navbar ol{
    list-style: none;
}

.navbar ol li{
    margin-top: 30px;
    margin-bottom: 40px;
}

.navbar ol li a{
    text-decoration: none;
    color: white;
}