label{
    font-size:20px;
    margin-left:5%;
    padding-top:10%;
    color:white;
    
}
input{
    width:90%;
    height:7%;
    border:2px solid white;
    border-radius:20px;
    background-color:#2E313E;
    padding-left:5%;
    margin-left:5%;
    margin-top:5%;
}

button{
    color:white;
    width:90%;
    height:7%;
    border:2px solid white;
    border-radius:20px;
    background-color:#2E313E;
    padding-left:5%;
    margin-left:5%;
    margin-top:8%;
}
h2{
    text-align: center;
    color:white;
    margin-left:1%;
    width:98%;
    box-shadow:0px 5px 0px white;
   
}
/*-------------------------- Interfaz de factura  ---------------------------*/

.contenedor{
    background-color:#2E313E;
    width:50%;
    height:100%;
    border-radius:10px;
    border:2px solid white;
    font-family: 'Scada', sans-serif;
}

#fechat{
    position:absolute;
    font-size:20px;
    margin-left:5%;
    padding-top:10%;
    margin-top:-8%;
    color:white;
    
}
#fecha{
    position:absolute;
    width:12%;
    height:5%;
    border:2px solid white;
    border-radius:20px;
    background-color:#2E313E;
    padding-left:2%;
    margin-left:10%;
    margin-top:2%;
    color:white;
}

#factt{
    position:absolute;
    font-size:20px;
    margin-left:25%;
    padding-top:10%;
    margin-top:-8%;
    color:white;
    
}
#fact{
    position:absolute;
    width:10%;
    height:5%;
    border:2px solid white;
    border-radius:20px;
    background-color:#2E313E;
    margin-left:33%;
    margin-top:2%;
    padding-left:2%;
    color:white;
}

#stockt{
    position:absolute;
    font-size:20px;
    margin-left:5%;
    padding-top:14%;
    margin-top:-8%;
    color:white;
    
}
#stock{
    position:absolute;
    width:10%;
    height:5%;
    border:2px solid white;
    border-radius:20px;
    background-color:#2E313E;
    padding-left:2%;
    margin-left:10%;
    margin-top:6%;
    color:white;
}

#operaciont{
    position:absolute;
    font-size:20px;
    margin-left:25%;
    padding-top:14%;
    margin-top:-8%;
    color:white;
    
}
#operacion{
    position:absolute;
    width:10%;
    height:5%;
    border:2px solid white;
    border-radius:20px;
    background-color:#2E313E;
    margin-left:33%;
    margin-top:6%;
    padding-left:2%;
    color:white;
}

#prodt{
    position:absolute;
    font-size:20px;
    margin-left:5%;
    padding-top:10%;
    margin-top:-8%;
    color:white;
    
}
#prod{
    position:absolute;
    width:30%;
    height:5%;
    border:2px solid white;
    border-radius:20px;
    background-color:#2E313E;
    padding-left:2%;
    margin-left:12%;
    margin-top:2%;
    color:white;
}

#entret{
    position:absolute;
    font-size:20px;
    margin-left:5%;
    padding-top:16%;
    margin-top:-10%;
    color:white;
    
}
#entre{
    position:absolute;
    width:24%;
    height:5%;
    border:2px solid white;
    border-radius:20px;
    background-color:#2E313E;
    padding-left:2%;
    margin-left:18%;
    margin-top:6%;
    color:white;
}
#boton{
    color:white;
    width:40%;
    height:7%;
    border:2px solid white;
    border-radius:20px;
    background-color:#2E313E;
    padding-left:5%;
    margin-left:5%;
    margin-top:20%;
}

button{
    color:white;
    width:90%;
    height:7%;
    border:2px solid white;
    border-radius:20px;
    background-color:#2E313E;
    padding-left:5%;
    margin-left:5%;
    margin-top:8%;
}
h2{
    text-align: center;
    color:white;
    margin-left:1%;
    width:98%;
    box-shadow:0px 5px 0px white;
}
h3{
    margin-top:20%;
    padding-left:2%;
    color:white;
    margin-left:1%;
    width:98%;
    box-shadow:0px 1px 0px white;
}